{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <h1 class="display-5 fw-bold text-center">Мурр де Вольтъ Неизгладимый</h1>
  <div class="col-10 col-sm-8 col-lg-5">
    <img src="{% static 'img/author.jpg' %}" height="300">
  </div>
  <div class="col-10 col-sm-8 col-lg-6">
    <ul>
      <li>
        <u>Сила кодинга</u>: открывает портал с порождениями кода, 
        несущими компьютер в бездну;
      </li>
      <li>
        <u>Ловкость в обращении с клавиатурой</u>: печатает одной правой, 
        пока левая чертит магические символы любимой кружкой;
      </li>
      <li>
        <u>Телосложение</u>: наматывает несколько километров, пока размышляет 
        над задачами из нового спринта;
      </li>
      <li>
        <u>Эмоциональный интеллект</u>: мыслит как баг, чтобы поймать баг;
      </li>
      <li>
        <u>Мудрость древних</u>: в трудные моменты жизни идёт на 
        Stack Overflow и в другие места силы;
      </li>
      <li>
        <u>Харизма</u>: при проведении собеседования ещё ни один 
        интервьюер не пострадал.
      </li>
      <p class="lead mb-4">
        <a href="https://github.com/earlinn/">Вызвать монстра</a>
      </p>
    </ul>
  </div>
</div>
{% endblock %}
